/* CSS Reset (you can use a more comprehensive reset if needed) */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

/* Basic Typography */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);

    /* Initial state for fade-in effect */
    opacity: 0;
    transition: opacity 0.3s ease-in; /* Adjust the duration and easing as needed */
}

/* Fade-in effect */
body.fade-in {
    opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    font-weight: bold;
}

p {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Utility Classes */
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.text-center {
    text-align: center;
}

.mt-1 { margin-top: 1rem; }
.mb-1 { margin-bottom: 1rem; }
.mt-2 { margin-top: 2rem; }
.mb-2 { margin-bottom: 2rem; }
