/* Dark Mode CSS Variables */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --header-background-color: #1a1a1a;
    --footer-background-color: #1a1a1a;
    --link-color: #ffffff;
    --hover-background-color: #ff5722;
    --hover-text-color: #ffffff;
    --container-background-color: #f5f5f5;
    --container-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --theme-toggle-text-color: white;
    transition: all 0.5s ease; /* Add transition for theme change */
}

[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #ffffff;
    --header-background-color: #333333;
    --footer-background-color: #333333;
    --link-color: #1e90ff;
    --hover-background-color: #ff3300;
    --hover-text-color: #ffffff;
    --container-background-color: #1e1e1e;
    --theme-toggle-text-color: #1e90ff;
    transition: all 0.5s ease; /* Add transition for theme change */
}

/* Apply CSS Variables */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--header-background-color);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.1s ease-out;
}

header.fixed {
    position: fixed;
    top: 0;
    flex-direction: row;
    padding: 5px 20px;
}

header .logo img {
    width: 200px;
    transition: width 0.1s ease-out;
}

header.fixed .logo img {
    width: 50px;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
}

nav ul li {
    margin: 10px 15px;
    display: flex;
    align-items: center;
    transition: margin 0.1s ease-out;
}

nav ul li a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.1s, color 0.1s;
}

nav ul li a:hover {
    background-color: var(--hover-background-color);
    color: var(--hover-text-color);
    border-radius: 4px;
}

/* Theme toggle button */
.theme-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.theme-toggle img {
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
    transition: opacity 0.3s;
}


/* Dark mode toggle button */
.theme-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px; /* Optional: Adjust the spacing as needed */
}

.toggle-switch {
    width: 60px;
    height: 30px;
    background-color: #e8e8b1;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transition: background-color 0.3s;
}

.toggle-switch i {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-switch .fa-sun {
    color: #f39c12;
}

.toggle-switch .fa-moon {
    color: #ddddb7;
}

.toggle-switch.active {
    background-color: #34495e;
}

.toggle-switch.active .fa-sun {
    color: #ddddb7;
}

.toggle-switch.active .fa-moon {
    color: #f1c40f;
}

.toggle-circle {
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: left 0.3s;
}

.toggle-switch.active .toggle-circle {
    left: 33px;
}



/* Hamburger Menu Icon */
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto; /* Move the icon to the right end */
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: var(--link-color);
    margin: 4px 0;
}

/* Main Container */
.main-container {
    width: 80%;
    margin: 20px auto;
    background-color: var(--container-background-color);
    box-shadow: var(--container-box-shadow);
    padding: 20px;
    border-radius: 8px;
}

/* Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--footer-background-color);
    color: white;
    margin-top: 20px;
    border-top: 4px solid var(--hover-background-color);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer .contact-info, footer .address {
    width: 45%;
    margin-bottom: 20px;
}

footer p {
    margin: 5px 0;
}

/* Content Sections */
.content {
    display: block;
    padding: 20px;
    background-color: var(--container-background-color);
    box-shadow: var(--container-box-shadow);
    border-radius: 8px;
    margin-bottom: 20px;
}

.about-section {
    display: block;
}

.about-section img {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    max-width: 300px; /* Adjust as needed */
    border: 1px solid #416488;
}

/* Members Section */
#primary {
    padding: 20px;
}

.page-title h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.member_container {
    margin-bottom: 40px;
}

.member_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.student_box, .student_box_alumni {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--container-background-color);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: var(--container-box-shadow);
}

.student_box_img img, .student_box_alumni img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.member-name {
    font-weight: bold;
    font-size: 1.2em;
    color: var(--text-color);
    text-decoration: none;
    margin-top: 10px;
}

.student_box p, .student_box_alumni p {
    margin: 5px 0;
}

.student_box p b, .student_box_alumni p b {
    color: #555;
}

/* Additional styles to match theme */
.page-title {
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.member_container h2 {
    color: var(--text-color);
    font-size: 1.8em;
    margin-top: 20px;
    border-bottom: 2px solid var(--text-color);
    padding-bottom: 5px;
}

/* Publication Properties */
.publication-year {
    margin-bottom: 2rem;
}

.publication-year h2 {
    font-size: 1.5rem;
    color: #ff6600;
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
    cursor: pointer; /* Add cursor to indicate clickable */
    transition: color 0.3s ease, transform 0.3s ease; /* Add transition for hover effect */
}

.publication-year h2:hover {
    color: #ff3300; /* Change color on hover */
    transform: scale(1.01); /* Slightly enlarge on hover */
}

ul.public {
    list-style-type: none;
    padding: 0;
}

ul.public li {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    position: relative; /* Required for positioning the ::before element */
    padding-left: 1.5rem; /* Space for the disk */
}

ul.public li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0.5rem;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #1e90ff;
    border-radius: 50%; /* Makes the shape a disk */
}

ul.public li a {
    color: #1e90ff;
    text-decoration: none;
}

/* Research Section */
/* General research section styling */
.research-section {
    background-color: var(--container-background-color); /* Support dark mode */
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--container-box-shadow); /* Support dark mode */
    margin-bottom: 20px;
    font-size: 1.1em;
    line-height: 1.8;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

/* General styling for images within research sections */
.research-section img {
    max-width: 100%; /* Allow images to scale with the container */
    height: auto;
    border-radius: 4px; /* Tiny border radius */
    display: block;
    margin: 0 auto 20px; /* Center images and add bottom margin */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

/* General styling for videos within research sections */
.research-section video, .research-section iframe {
    width: 100%;
    max-width: 560px; /* Maintain a max-width for better appearance */
    border-radius: 8px;
    margin: 20px auto; /* Center the video and add top and bottom margin */
    display: block;
}

/* Specific styling for images in image groups */
.research-section .image-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px; /* Space between images */
    justify-content: center;
}

.research-section .image-group figure {
    flex: 1; /* Allow figures to grow and shrink */
    text-align: center; /* Center align the figcaption text */
}

.research-section .image-group img {
    width: 100%; /* Allow images to scale with their container */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure images fit within the set dimensions without distortion */
    border: 2px solid #ccc; /* Optional: add a border around images */
    border-radius: 10px; /* Optional: add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for better appearance */
    transition: transform 0.3s ease; /* Smooth transition for the hover effect */
}

.research-section .image-group figcaption {
    margin-top: 8px;
    font-size: 0.9em;
    color: var(--text-color); /* Support dark mode */
    text-align: center; /* Ensure text is centered under each image */
    max-width: 200px; /* Ensure the text width matches the image width */
    overflow-wrap: break-word; /* Wrap text to avoid overflow */
}

/* Specific link styling for research sections */
.research-section a {
    text-decoration: underline;
}

/* Grid layout for inline demos */
.inline-demos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.inline-demos .demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.inline-demos iframe {
    width: 100%;
    height: 315px;
    border-radius: 8px;
    box-shadow: var(--container-box-shadow); /* Support dark mode */
    margin-bottom: 10px;
}

/* Media queries for responsiveness */
@media (max-width: 800px) {
    .inline-demos {
        grid-template-columns: 1fr;
    }
}

/* Additional styling for research grid */
.research-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

.research-item {
    background: var(--container-background-color); /* Support dark mode */
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
    box-sizing: border-box;
    box-shadow: var(--container-box-shadow); /* Support dark mode */
}

.research-item:hover {
    transform: scale(1.05);
}

.research-item img {
    border-radius: 8px;
    width: 100%; /* Ensure images take full width of their container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure images fit within the set dimensions without distortion */
    margin-bottom: 10px; /* Add spacing below images */
}

.research-item p {
    margin: 10px 0 0;
    font-size: 1.1em;
    color: var(--text-color); /* Support dark mode */
}

/* Seminars Section */
.year-group {
    margin-bottom: 20px;
}

.year-header {
    cursor: pointer;
    font-size: 1.5rem;
    color: #ff6600;
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
    transition: color 0.3s ease, transform 0.3s ease; /* Add transition for hover effect */
}

.year-group h2:hover {
    color: #ff3300; /* Change color on hover */
    transform: scale(1.01); /* Slightly enlarge on hover */
}

.year-meetings {
    display: none;
}

.year-meetings.active {
    display: block;
}

.meeting {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: var(--container-background-color);
    color: var(--text-color);
    padding: 10px;
    margin: 10px 0;
    box-shadow: var(--container-box-shadow);
}

.date, .group, .title, .abstract {
    margin: 0;
}

.meeting-title {
    cursor: pointer;
    font-weight: bold;
    color: #416488;
}

.abstract {
    display: none;
    padding-top: 10px;
}

.abstract.active {
    display: block;
}

/* Resources Section */
.resource-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.link-box {
    background-color: var(--container-background-color);
    padding: 15px;
    border-radius: 5px;
    box-shadow: var(--container-box-shadow);
    transition: transform 0.2s;
}

.link-box:hover {
    transform: scale(1.05);
}

.link-box a {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.link-box img {
    margin-right: 10px;
}

.section-title {
    grid-column: 1 / -1;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 10px;
    color: var(--text-color);
}

.font_norm {
    font-weight: normal;
}
